page-feed {
    h2.feed_title {
        color: darkslategrey;
        font-family: cursive;
        font-weight: bold;
    }

    p.feed_date {
        color: darkslategrey;
        font-family: monospace;
    }
}
